<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>PayMe</title>

    <!-- Stylesheets -->
    <link th:href="@{/templates/css/bootstrap.css}" href="/templates/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!--    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>-->
<!--    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>-->
<!--    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

</head>
<body>
<div class="container-xl">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-12">
            <div class="card mx-auto">
                <form class="card-details ">
                    <div class="form-group">
                        <p class="text">Сумма к оплате</p>
                        <p th:name="${paymentSum}" id="paymentSum"></p>
                    </div>
                    <div class="form-group">
                        <p class="text">Название магазина</p>
                        <p th:name="${shopName}" id="shopName"></p>
                    </div>
                    <div class="form-group">
                        <p class="text">Заказ №:</p>
                        <p th:value="${orderId}" id="orderId"></p>
                    </div>
                    <div class="form-group mb-0">
                        <p class="text-warning mb-0">Card Number</p> <label for="CardNumber"></label><input type="text" name="card-num" id="CardNumber" th:onkeyup="checkCardAvailability()" placeholder="1234 5678 9012 3457" size="17" minlength="16" maxlength="19"> <img src="https://img.icons8.com/color/48/000000/visa.png" width="64px" height="60px" alt="service"/>
                    </div>
                    <div class="form-group">
                        <p class="text-warning mb-0">Last Name</p> <label for="firstname"></label><input type="text" name="firstname" id="firstname" th:onkeyup="checkCardAvailability()" placeholder="Фамилия" size="17">
                    </div>
                    <div class="form-group">
                        <p class="text-warning mb-0">First Name</p> <label for="lastname"></label><input type="text" name="lastname" id="lastname" th:onkeyup="checkCardAvailability()" placeholder="Имя" size="17">
                    </div>
                    <div class="form-group pt-2">
                        <div class="row d-flex">
                            <div class="col-sm-4">
                                <p class="text-warning mb-0">Expiration</p> <label for="exp"></label><input type="text" name="exp" placeholder="MM/YYYY" size="7" id="exp" th:onkeyup="checkCardAvailability()" minlength="7" maxlength="7">
                            </div>
                            <div class="col-sm-3">
                                <p class="text-warning mb-0">Cvv</p> <label for="cvv"></label><input type="password" name="cvv" id="cvv" th:onkeyup="checkCardAvailability()" placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3">
                            </div>
                            <button th:onclick="sendJSON()" class="btn btn-primary" id="btn" disabled="disabled"><i class="fas fa-arrow-right px-3 py-2"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/static/MoonJs.js}"></script>
<script type="text/javascript" th:src="@{/static/paymentJs.js}"></script>
<script type="text/javascript" th:src="@{/static/checkCardData.js}"></script>
</body>
</html>